<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codellion.app.umbrellamuzei">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Required by RemoteMuzeiArtSource -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/icon"
        android:theme="@style/AppTheme">

        <service android:name="com.codellion.umbrellamuzei.app.UmbrellaServiceArtSource"
            android:label="@string/source_name"
            android:description="@string/source_description"
            android:icon="@drawable/ic_source">
            <intent-filter>
                <action android:name="com.google.android.apps.muzei.api.MuzeiArtSource" />
            </intent-filter>
            <meta-data android:name="color" android:value="#fa0" />
        </service>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.codellion.app.umbrellamuzei.fileprovider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

    </application>

</manifest>
